html, body, #map {
    height: 100%;
    width: 100%;
    font-family: "PT Sans", Corbel, sans-serif;
    color: #1e87c7;
}

.leaflet-control-locate a {
    text-align: left;
}
.leaflet-control-locate a:hover {
    text-align: left;
}
